{% extends 'base.html' %}

{% block title %}Мои заказы{% endblock %}

{% block content %}
  <h1>Мои заказы</h1>

  {% if orders %}
    <ul>
      {% for order in orders %}
        <li>
          <a href="{% url 'order_detail' order.id %}">
            Заказ #{{ order.id }} ({{ order.created_at }})
          </a> - Сумма: {{ order.total_amount }} - Статус: {% if order.is_completed %}Завершен{% else %}Ожидает обработки{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>У вас нет заказов.</p>
  {% endif %}
{% endblock %}
