{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}

{% block content %}
  <div class="login-page">
    <div class="form">
      <h2>Вход</h2>
      <form method="POST">
        {% csrf_token %}

        <!-- Поле для ввода email или имени пользователя -->
        <input type="text" name="username" placeholder="Email или имя пользователя" required value="{{ form.username.value }}">
        <input type="password" name="password" placeholder="Пароль" required>

        {% if messages %}
          <ul>
            {% for message in messages %}
              <li style="color: red;">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <button type="submit">Войти</button>
      </form>

      <!-- Ссылка для регистрации с одинаковым стилем -->
      <p class="message">
        Еще нет аккаунта? <a href="{% url 'register' %}" class="auth-link">Зарегистрироваться</a>
      </p>
    </div>
  </div>
{% endblock %}
