{% extends 'base.html' %}

{% block content %}
  <h2>Профиль пользователя</h2>
  <p><strong>Имя пользователя:</strong> {{ user.username }}</p>
  <p><strong>О себе:</strong> {{ user_profile.bio }}</p>
  <p><strong>Комментарии:</strong> {{ user_profile.user_comment }}</p>

  {% if user_profile.avatar %}
    <img src="{{ user_profile.avatar.url }}" alt="Avatar" width="100">
  {% else %}
    <p>Аватар не установлен.</p>
  {% endif %}

  <a href="{% url 'profile_edit' %}">Редактировать профиль</a>
{% endblock %}
