{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BAZARSHOP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/styles_for_header.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% if request.path != '/users/register/' and request.path != '/users/login/' %}
        {% include 'header.html' %}
    {% endif %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block extra_js %}{% endblock %}
</body>
</html>
