{% load static %}

<footer class="bg-light text-dark py-4 mt-auto" style="background-color: #ffecd9; border-top: 2px solid #7a6e5f;">
    <div class="container d-flex justify-content-between">
        <ul class="list-unstyled">
            <li><a href="{% url 'about' %}" class="text-decoration-none" style="color: #7a6e5f;">О нас</a></li>
            <li><a href="{% url 'contacts' %}" class="text-decoration-none" style="color: #7a6e5f;">Контакты</a></li>
            <li><a href="{% url 'privacy_policy' %}" class="text-decoration-none" style="color: #7a6e5f;">Политика конфиденциальности</a></li>
        </ul>
        <p class="mb-0" style="color: #7a6e5f;">© 2024 BAZARSHOP. Все права защищены. (нет 😊 )</p>
    </div>
</footer>
