{% load static %}

<div class="header-banner">Скидка в 10% на все товары при покупке от 3 товаров</div>
<header>
    <div class="container">
        <div class="logo-container">
            <a href="{% url 'home' %}" class="logo">
                <img src="{% static 'main/images/logo.png' %}" alt="Логотип BAZARSHOP" class="logo-image">
                BAZARSHOP
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'blog_home' %}">Блог</a></li>
                <li><a href="{% url 'catalog' %}">Каталог товаров</a></li>
                <li><a href="{% url 'all_main_categories' %}">Категории</a></li>
                <li><a href="{% url 'all_categories' %}">Подкатегории</a></li>
                <li><a href="{% url 'order_history' %}">История заказов</a></li>

            </ul>
        </nav>
        <div class="header-right">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="btn">Выйти</a>
                <a href="{% url 'profile' %}" class="profile">
                    <img src="{% static 'main/images/user.png' %}" alt="Личный кабинет" class="icon">
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn">Войти</a>
                <a href="{% url 'register' %}" class="btn">Регистрация</a>
            {% endif %}
            <a href="{% url 'view_cart' %}" class="cart">
                <img src="{% static 'main/images/korzina.png' %}" alt="Корзина" class="icon">
            </a>
        </div>
    </div>
</header>
