{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAZARSHOP</title>
    <link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
</head>
<body>
    <div class="header-banner">При первой покупке, дарим купон на скидку в 20%</div>
    <header>
        <div class="container">
            <div class="logo-container">
                <a href="{% url 'home' %}" class="logo">
                    <img src="{% static 'main/images/logo.png' %}" alt="Логотип BAZARSHOP" class="logo-image">
                    BAZARSHOP
                </a>
                <nav>
                    <ul>
                        <li><a href="{% url 'about' %}">О нас</a></li>
                        <li><a href="#">БЛОГ</a></li>
                        <li><a href="#">Мужчинам</a></li>
                        <li><a href="#">Женщинам</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-right">
                <form class="search-form">
                    <input type="text" placeholder="Поиск...">
                    <button type="submit">Поиск</button>
                </form>
                <a href="#" class="profile">
                    <img src="{% static 'main/images/user.png' %}" alt="Профиль" class="icon"> Личный кабинет
                </a>
                <a href="#" class="cart">
                    <img src="{% static 'main/images/korzina.png' %}" alt="Корзина" class="icon"> Корзина
                </a>
            </div>
        </div>
    </header>
</body>
</html>
