{% extends "base.html" %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="category-detail">
        <img src="{{ category.pic_cat.url }}" alt="{{ category.name }}" style="max-width: 100%; height: auto;">
    <p>{{ category.description }}</p>
</div>

    <h2>Товары в категории:</h2>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' cat_id=product.id %}">{{ product.name }}</a>
            </li>
        {% empty %}
            <li>Товары пока отсутствуют.</li>
        {% endfor %}
    </ul>
{% endblock %}
