{% extends 'base.html' %}

{% load static %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <!-- Блок для администраторов -->
    {% if user.is_authenticated and user.is_staff %}
        <div class="mb-4">
            <a href="{% url 'admin_order_list' %}" class="btn btn-outline-primary">Проверить заказы</a>
            <a href="{% url 'add_category' %}" class="btn btn-outline-primary">Добавить категорию</a>
            <a href="{% url 'add_product' %}" class="btn btn-outline-primary">Добавить товар</a>
            <a href="{% url 'add_main_category' %}" class="btn btn-outline-primary">Добавить основную категорию</a>
        </div>
    {% endif %}

    <div class="text-center mb-4">
        <h1>Добро пожаловать в наш магазин одежды!</h1>
        <p class="lead" style="color: #7a6e5f;">Здесь вы найдёте всё, что нужно для вашего стиля.</p>
    </div>

    <div class="row g-3">
        <div class="col-md-6">
            <a href="{% url 'main_category_detail' custom_id='men' %}" class="text-decoration-none">
                <div class="card shadow-sm" style="border-radius: 12px;">
                    <img src="{% static 'main/images/men_image.jpg' %}" class="card-img-top" alt="Men's Fashion" style="border-radius: 12px; width: 100%; height: auto;">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color: #7a6e5f;">Men's Fashion</h5>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-6">
            <a href="{% url 'main_category_detail' custom_id='women' %}" class="text-decoration-none">
                <div class="card shadow-sm" style="border-radius: 12px;">
                    <img src="{% static 'main/images/women_image.jpg' %}" class="card-img-top" alt="Women's Fashion" style="border-radius: 12px; width: 100%; height: auto;">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color: #7a6e5f;">Women's Fashion</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
