{% extends 'base.html' %}

{% block content %}
<h1>{{ title }}</h1>
<p>Ваши данные важны для нас. В этой политике описывается, как мы собираем, используем и защищаем ваши данные.</p>

<h2>1. Сбор данных</h2>
<p>Мы собираем личные данные только в случае, если вы предоставляете их добровольно...</p>

<h2>2. Использование данных</h2>
<p>Мы используем ваши данные для обработки заказов, улучшения качества наших услуг и предоставления персонализированного опыта...</p>

<h2>3. Защита данных</h2>
<p>Мы принимаем все необходимые меры для защиты ваших данных...</p>

<h2>4. Контакты</h2>
<p>Если у вас есть вопросы по поводу этой политики конфиденциальности, свяжитесь с нами по адресу bazarshop@email.ru</p>

{% endblock %}
