body {
  background: #f0e6d2; /* Кремовый фон */
  font-family: "Arial", sans-serif; /* Шрифт Arial */
}

.form {
  position: relative;
  z-index: 1;
  background: #fff8f0; /* Светлый кремовый фон */
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 8px; /* Скругленные углы */
}

.form input {
  font-family: "Arial", sans-serif; /* Шрифт Arial */
  outline: 0;
  background: #f7f0e1; /* Очень светлый кремовый для input */
  width: 100%;
  border: 1px solid #e0d4b5;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 4px;
}

.form input:focus {
  background: #ffffff;
  border-color: #c9b78d;
}

.form button {
  font-family: "Arial", sans-serif; /* Шрифт Arial */
  text-transform: uppercase;
  outline: 0;
  background: #c9b78d; /* Нежно-золотистый */
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #d8ca8b; /* Светлый золотистый оттенок при наведении */
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #c9b78d;
  text-decoration: none;
}

.form .message a:hover {
  color: #b29e6e;
}
